<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406700337662-sqask5r9a5l11vnvmk2gf6e1rq246hac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406700337662-sqask5r9a5l11vnvmk2gf6e1rq246hac</string>
	<key>API_KEY</key>
	<string>AIzaSyBbX1z9xbztL4VQBp1-I-ppwW7oZexXjhc</string>
	<key>GCM_SENDER_ID</key>
	<string>406700337662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pursuit.scoutmaster</string>
	<key>PROJECT_ID</key>
	<string>scoutmaster-c3590</string>
	<key>STORAGE_BUCKET</key>
	<string>scoutmaster-c3590.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406700337662:ios:c0869d817339ef2bfff8af</string>
	<key>DATABASE_URL</key>
	<string>https://scoutmaster-c3590.firebaseio.com</string>
</dict>
</plist>